


.logo{margin-left: 10px;}

.quem-somos{background-color: rgb(32, 32, 32);
color: white;
padding-top: 50px; padding-bottom: 50px;
}

.Título{padding-bottom: 15px;}
.rounded-circle{padding-bottom: 15px;}

.Parceiros{background-color: #1A232C;
color: white;
padding-top: 50px;
padding-bottom: 50px;}

.SubTítulo{padding-bottom: 15px;}
.subsubtitulo{color: white;}
.final{background-color: #797073;}

.texto{color: white;}